.card-contact{
    width: 65rem;
}

#contact-section{
    background-color: #EA9B3A;
}

#contactPage{
    margin:5rem;
    padding-top:2rem;
}

.no-border {
    margin: 0 !important;
    padding: 0;
    border: none;
    width: 100% !important;
}

.custom-row {
    margin-left: 0;
    margin-right: 0;
}

.custom-container {
    /*
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0;
    padding-right: 0;
    background-color: blue;
    width: 100% !important;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}
.container-fluid > .row{
    margin:0
}

/* 
.left-side{
    /*
    margin-top:7rem;
    
      display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;

}*/

.contact-image {
    max-width: '100%';
    max-height: auto;
    max-width: 80%;
    max-height: 80%;
    display: inline-block;
    margin: 0;
    top: 12px;
}

.left-side {
    display: flex;
    align-items: center;
}

h3 {
    margin: 0;
    margin-bottom: 0;
}

h6 {
    margin-top: 0;
    margin-top: 10px;
}



