.card-contact.dark-mode-background {
    background-color: #222222;
    color: #f7f7f7;
}

.dark-mode-background input[type="text"],
.dark-mode-background textarea {
  background-color: #333333;
  color: #f7f7f7;
}

.dark-mode-background input[type="text"]::placeholder,
.dark-mode-background textarea::placeholder {
  color: #a9a9a9;
}

.dark-mode-background #contact_h2{
    color: #333333;
}

#contact-section {
    background-image: linear-gradient(to top, #eb870e, #ee9125, #f19b37, #f4a547, #f7ae56, #f9b766, #fbbf77, #fdc887, #fed29c, #ffdcb2, #ffe6c8, #fff0de);
    margin-top: 3rem;
}

#contactPage {
    padding-top: 2rem;
}

.contact-image {
    max-width: '100%';
    max-height: auto;
    max-width: 95%;
    max-height: 95%;
    margin: 0;
    padding: 0;
}

.custom-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    align-self: center;
    border: none;
}

.custom-margin {
    margin-top: 5%;
}

#chat {
    font-size: 34px;
}

.img.contact-image {
    width: 120% !important;
    height: 100% !important;
}

h3 {
    margin: 0;
    margin-bottom: 0;
}

h6 {
    margin-top: 0;
    margin-top: 0;
}

.content {
    padding: 7rem 0;
}

.form-control {
    border: none;
    border-bottom: 1.5px solid #d9d9d9;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}


form.border-right {
    padding-right: 5rem !important;
}

@media (max-width: 991.98px) {
    form.border-right {
        padding-right: 0 !important;
        border-right: none !important;
    }
}

label.error {
    font-size: 12px;
    color: red;
}

#message {
    resize: vertical;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

.card-contact {
    justify-content: center;
    align-self: center;
    border: none;
}