.footer-container {
  padding: 20px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.socialContainer {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border: none;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialContainer:hover {
  background-color: #ea9b3a;
}

.socialContainer:hover .iconSocial {
  background-color: none;
  transition-duration: 0.3s;
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 10px;
  }

  .text-md-start,
  .text-md-end {
    text-align: center;
  }

  .text-md-end {
    margin-top: 0rem;
  }
}
