#landingPage {
    padding-top: 50px;
    margin-bottom: 10px;
}

.content-wrapper {
    margin-top: 12rem;
}

p {
    text-align: justify;
}

#column1{
    margin-right: '100px' important;
}

#column2{
    margin-left: '100px'important;
}

.hero-image {
    max-width: '100%';
    max-height: auto;
    max-width: 100%;
    max-height: 100%;
}

.svg-shape {
  position: absolute;
  top: 2;
  left: 0;
  width: 35%;
  height: 35%;
  z-index: -1;
}
  

  
  .text1 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 22%;
  }
  
  .text2 {
    position: absolute;
    top: 25%;
    left: -50px;
    font-weight: 700;
    font-size: 14px;
    color: white;
  }
  
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
  }
  
  .icon::before {
    position: absolute;
    left: -100px;
    top: 0;
    z-index: -1;
    content: '';
    width: 130px;
    height: 33px;
    border-radius: 30px;
    background-color: #2867b2;
  }
  
  
  #btn-linkedin:hover .icon {
    transform: translateX(96px);
    transition: transform 0.5s;
  }
  
   
#btn-linkedin:hover .text2 {
    transform: translateX(100px);
    transition: transform 0.6s;
  }
  
  
  #btn-linkedin:active {
    transform: scale(1.03);
  }