.title-navbar {
  color: #ea9b3a;
  font-weight: bold;
}

.dark-mode-navbar {
  background-color: #3b3b3b;
}

.dark-mode-navbar .nav-link {
  color: #f7f7f7;
}

.dark-mode-tags-color {
  color: #f7f7f7;
}

.sun-icon {
  color: #f7f7f7 !important;
}

.moon-icon {
  color: #000000a6;
}

.nav-link {
  margin-right: 2em;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bs-navbar-link-color);
}

.nav-link:focus,
.nav-link:active {
  color: var(--bs-navbar-link-color);
}

.navbar-nav .nav-link:hover {
  color: #ea9b3a;
}

@media (max-width: 991px) {
  #responsive-navbar-nav {
    text-align: center;
    align-items: center;
    margin: 0;
  }
}
