.btn-custom {
  padding: 0.5em;
  margin: 0.5em;
  background: #2c2c2c;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-custom.dark-mode-background {
  padding: 0.5em;
  margin: 0.5em;
  background: #eeeff1;
  color: #2c2c2c;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-custom:hover {
  background: #2c2c2c !important;
  outline: none;
  color: #2c2c2c;
}

.btn-custom.dark-mode-background:hover {
  background: white !important;
  outline: none;
  color: white;
}

.btn-custom::after {
  content: "";
  background: white;
  color: #2c2c2c;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn-custom.dark-mode-background::after {
  content: "";
  background: #626262;
  color: #eeeff1;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn-custom:hover::after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-custom.font-spline {
  font-family: 'SplineSansRegular';
}